In [118]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to change the path if needed.)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read the School Data and Student Data and store into a Pandas DataFrame
school_data_df = pd.read_csv(school_data_to_load)
student_data_df = pd.read_csv(student_data_to_load)

# Cleaning Student Names and Replacing Substrings in a Python String
# Add each prefix and suffix to remove to a list.
prefixes_suffixes = ["Dr. ", "Mr. ","Ms. ", "Mrs. ", "Miss ", " MD", " DDS", " DVM", " PhD"]

# Iterate through the words in the "prefixes_suffixes" list and replace them with an empty space, "".
for word in prefixes_suffixes:
    student_data_df["student_name"] = student_data_df["student_name"].str.replace(word,"")

# Check names.
student_data_df.head(10)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
5,5,Bryan Miranda,M,9th,Huang High School,94,94
6,6,Sheena Carter,F,11th,Huang High School,82,80
7,7,Nicole Baker,F,12th,Huang High School,96,69
8,8,Michael Roth,M,10th,Huang High School,95,87
9,9,Matthew Greene,M,10th,Huang High School,96,84

## Deliverable 1: Replace the reading and math scores.

### Replace the 9th grade reading and math scores at Thomas High School with NaN.

In [119]:
# Install numpy using conda install numpy or pip install numpy. 
# Step 1. Import numpy as np.
import numpy as np

In [120]:
student_data_df.tail(10)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
39160,39160,Katie Weaver,F,11th,Thomas High School,89,86
39161,39161,April Reyes,F,10th,Thomas High School,70,84
39162,39162,Derek Weeks,M,12th,Thomas High School,94,77
39163,39163,John Reese,M,11th,Thomas High School,90,75
39164,39164,Joseph Anthony,M,9th,Thomas High School,97,76
39165,39165,Donna Howard,F,12th,Thomas High School,99,90
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75

In [121]:
# Step 2. Use the loc method on the student_data_df to select all the reading scores from the 9th grade at Thomas High School and replace them with NaN.
student_data_df.loc[((student_data_df['school_name'] == 'Thomas High School') & (student_data_df['grade'] == '9th')), 'reading_score']=np.nan

In [122]:
#  Step 3. Refactor the code in Step 2 to replace the math scores with NaN.
student_data_df.loc[((student_data_df['school_name'] == 'Thomas High School') & (student_data_df['grade'] == '9th')), 'math_score']=np.nan

In [123]:
#  Step 4. Check the student data for NaN's. 
student_data_df.tail(10)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
39160,39160,Katie Weaver,F,11th,Thomas High School,89.0,86.0
39161,39161,April Reyes,F,10th,Thomas High School,70.0,84.0
39162,39162,Derek Weeks,M,12th,Thomas High School,94.0,77.0
39163,39163,John Reese,M,11th,Thomas High School,90.0,75.0
39164,39164,Joseph Anthony,M,9th,Thomas High School,NaN,NaN
39165,39165,Donna Howard,F,12th,Thomas High School,99.0,90.0
39166,39166,Dawn Bell,F,10th,Thomas High School,95.0,70.0
39167,39167,Rebecca Tanner,F,9th,Thomas High School,NaN,NaN
39168,39168,Desiree Kidd,F,10th,Thomas High School,99.0,90.0
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95.0,75.0

## Deliverable 2 : Repeat the school district analysis

### District Summary

In [124]:
# Combine the data into a single dataset
school_data_complete_df = pd.merge(student_data_df, school_data_df, how="left", on=["school_name", "school_name"])
school_data_complete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66.0,79.0,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94.0,61.0,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90.0,60.0,0,District,2917,1910635
3,3,Richard Scott,M,12th,Huang High School,67.0,58.0,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97.0,84.0,0,District,2917,1910635

In [125]:
# Step 1. Get the number of students that are in ninth grade at Thomas High School.
# These students have no grades. 
bad_students = school_data_complete_df[school_data_complete_df["reading_score"] == 'NaN']
bad_students_count = bad_students['Student ID'].count()

# # Get the total student count 
# student_count = school_data_complete_df["Student ID"].count()


# # Step 2. Subtract the number of students that are in ninth grade at 
# Thomas High School from the total student count to get the new total student count.
new_student_count = student_count - bad_students_count
new_student_count

39170

In [126]:
# Step 3. Calculate the passing percentages with the new total student count.

In [127]:
school_data_complete_df.dtypes

Student ID         int64
student_name      object
gender            object
grade             object
school_name       object
reading_score    float64
math_score       float64
School ID          int64
type              object
size               int64
budget             int64
dtype: object

In [128]:
school_data_complete_df.dropna()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66.0,79.0,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94.0,61.0,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90.0,60.0,0,District,2917,1910635
3,3,Richard Scott,M,12th,Huang High School,67.0,58.0,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97.0,84.0,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39163,39163,John Reese,M,11th,Thomas High School,90.0,75.0,14,Charter,1635,1043130
39165,39165,Donna Howard,F,12th,Thomas High School,99.0,90.0,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95.0,70.0,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99.0,90.0,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95.0,75.0,14,Charter,1635,1043130

In [129]:
# Calculate the students who passed both reading and math.
passing_math_reading = school_data_complete_df[(school_data_complete_df["math_score"] >= 70)
                                               & (school_data_complete_df["reading_score"] >= 70)]

# Calculate the number of students that passed both reading and math.
overall_passing_math_reading_count = passing_math_reading["student_name"].count()


# Step 4.Calculate the overall passing percentage with new total student count.
overall_passing_math_reading_percentage = overall_passing_math_reading_count / new_student_count * 100

##  School Summary

In [130]:
# Determine the School Type
per_school_types = school_data_df.set_index(["school_name"])["type"]

# Calculate the total student count.
per_school_counts = school_data_complete_df["school_name"].value_counts()

# Calculate the total school budget and per capita spending
per_school_budget = school_data_complete_df.groupby(["school_name"]).mean()["budget"]
# Calculate the per capita spending.
per_school_capita = per_school_budget / per_school_counts

# Calculate the average test scores.
per_school_math = school_data_complete_df.groupby(["school_name"]).mean()["math_score"]
per_school_reading = school_data_complete_df.groupby(["school_name"]).mean()["reading_score"]

# Calculate the passing scores by creating a filtered DataFrame.
per_school_passing_math = school_data_complete_df[(school_data_complete_df["math_score"] >= 70)]
per_school_passing_reading = school_data_complete_df[(school_data_complete_df["reading_score"] >= 70)]

# Calculate the number of students passing math and passing reading by school.
per_school_passing_math = per_school_passing_math.groupby(["school_name"]).count()["student_name"]
per_school_passing_reading = per_school_passing_reading.groupby(["school_name"]).count()["student_name"]

# Calculate the percentage of passing math and reading scores per school.
per_school_passing_math = per_school_passing_math / per_school_counts * 100
per_school_passing_reading = per_school_passing_reading / per_school_counts * 100

# Calculate the students who passed both reading and math.
per_passing_math_reading = school_data_complete_df[(school_data_complete_df["reading_score"] >= 70)
                                               & (school_data_complete_df["math_score"] >= 70)]

# Calculate the number of students passing math and passing reading by school.
per_passing_math_reading = per_passing_math_reading.groupby(["school_name"]).count()["student_name"]

# Calculate the percentage of passing math and reading scores per school.
per_overall_passing_percentage = per_passing_math_reading / per_school_counts * 100

In [131]:
# Create the DataFrame
per_school_summary_df = pd.DataFrame({
    "School Type": per_school_types,
    "Total Students": per_school_counts,
    "Total School Budget": per_school_budget,
    "Per Student Budget": per_school_capita,
    "Average Math Score": per_school_math,
    "Average Reading Score": per_school_reading,
    "% Passing Math": per_school_passing_math,
    "% Passing Reading": per_school_passing_reading,
    "% Overall Passing": per_overall_passing_percentage})


per_school_summary_df.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,4976,3124928.0,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,1763916.0,644.0,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,90.599455

In [132]:
# Format the Total School Budget and the Per Student Budget
per_school_summary_df["Total School Budget"] = per_school_summary_df["Total School Budget"].map("${:,.2f}".format)
per_school_summary_df["Per Student Budget"] = per_school_summary_df["Per Student Budget"].map("${:,.2f}".format)

# Display the data frame
per_school_summary_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.350937,83.896082,66.911315,69.663609,65.076453
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,93.333333,96.611111,90.333333

In [133]:
# Step 5.  Get the number of 10th-12th graders from Thomas High School (THS).
ths_10th_to_12th_df = school_data_complete_df[(school_data_complete_df["grade"] != '9th')
                                               & (school_data_complete_df["school_name"] == 'Thomas High School')]
ths_10th_to_12th_df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
37535,37535,Norma Mata,F,10th,Thomas High School,76.0,76.0,14,Charter,1635,1043130
37536,37536,Cody Miller,M,11th,Thomas High School,84.0,82.0,14,Charter,1635,1043130
37541,37541,Eric Stevens,M,10th,Thomas High School,80.0,76.0,14,Charter,1635,1043130
37542,37542,Elizabeth Bennett,F,11th,Thomas High School,91.0,94.0,14,Charter,1635,1043130
37544,37544,Jacqueline Harris,F,10th,Thomas High School,71.0,92.0,14,Charter,1635,1043130
...,...,...,...,...,...,...,...,...,...,...,...
39163,39163,John Reese,M,11th,Thomas High School,90.0,75.0,14,Charter,1635,1043130
39165,39165,Donna Howard,F,12th,Thomas High School,99.0,90.0,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95.0,70.0,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99.0,90.0,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95.0,75.0,14,Charter,1635,1043130

In [134]:
# Step 6. Get all the students passing math from THS
ths_passing_math = ths_10th_to_12th_df[(ths_10th_to_12th_df["math_score"] >= 70)]

In [135]:
# Step 7. Get all the students passing reading from THS
ths_passing_reading = ths_10th_to_12th_df[(ths_10th_to_12th_df["reading_score"] >= 70)]

In [136]:
# Step 8. Get all the students passing math and reading from THS
ths_passing_math_reading = ths_10th_to_12th_df[(ths_10th_to_12th_df["math_score"] >= 70)
                                               & (ths_10th_to_12th_df["reading_score"] >= 70)]

In [137]:
ths_passing_math_reading

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
37535,37535,Norma Mata,F,10th,Thomas High School,76.0,76.0,14,Charter,1635,1043130
37536,37536,Cody Miller,M,11th,Thomas High School,84.0,82.0,14,Charter,1635,1043130
37541,37541,Eric Stevens,M,10th,Thomas High School,80.0,76.0,14,Charter,1635,1043130
37542,37542,Elizabeth Bennett,F,11th,Thomas High School,91.0,94.0,14,Charter,1635,1043130
37544,37544,Jacqueline Harris,F,10th,Thomas High School,71.0,92.0,14,Charter,1635,1043130
...,...,...,...,...,...,...,...,...,...,...,...
39163,39163,John Reese,M,11th,Thomas High School,90.0,75.0,14,Charter,1635,1043130
39165,39165,Donna Howard,F,12th,Thomas High School,99.0,90.0,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95.0,70.0,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99.0,90.0,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95.0,75.0,14,Charter,1635,1043130

In [138]:
# Step 9. Calculate the percentage of 10th-12th grade students passing math from Thomas High School. 
ths_passing_math_percentage = ths_passing_math["Student ID"].count() / ths_10th_to_12th_df["Student ID"].count() * 100
ths_passing_math_percentage

93.18568994889267

In [139]:
# Step 10. Calculate the percentage of 10th-12th grade students passing reading from Thomas High School.
ths_passing_reading_percentage = ths_passing_reading["Student ID"].count() / ths_10th_to_12th_df["Student ID"].count() * 100
ths_passing_reading_percentage

97.01873935264055

In [140]:
# Step 11. Calculate the overall passing percentage of 10th-12th grade from Thomas High School. 
ths_passing_math_reading_percentage = ths_passing_math_reading["Student ID"].count() / ths_10th_to_12th_df["Student ID"].count() * 100
ths_passing_math_reading_percentage

90.63032367972743

In [171]:
# Step 12. Replace the passing math percent for Thomas High School in the per_school_summary_df.
per_school_summary_df.loc['Thomas High School', '% Passing Math'] = ths_passing_math_percentage
per_school_summary_df.loc['Thomas High School', '% Passing Math']

93.18568994889267

In [172]:
# Step 13. Replace the passing reading percentage for Thomas High School in the per_school_summary_df.
per_school_summary_df.loc['Thomas High School', '% Passing Reading'] = ths_passing_reading_percentage
per_school_summary_df.loc['Thomas High School', '% Passing Reading']

97.01873935264055

In [173]:
# Step 14. Replace the overall passing percentage for Thomas High School in the per_school_summary_df.
per_school_summary_df.loc['Thomas High School', '% Overall Passing'] = ths_passing_math_reading_percentage
per_school_summary_df.loc['Thomas High School', '% Overall Passing']

90.63032367972743

In [174]:
per_school_summary_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.350937,83.896082,93.185690,97.018739,90.630324
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,93.333333,96.611111,90.333333

## High and Low Performing Schools

In [145]:
# Sort and show top five schools.

In [146]:
# Sort and show top five schools.

## Math and Reading Scores by Grade

In [147]:
# Create a Series of scores by grade levels using conditionals.


# Group each school Series by the school name for the average math score.


# Group each school Series by the school name for the average reading score.

In [148]:
# Combine each Series for average math scores by school into single data frame.

In [149]:
# Combine each Series for average reading scores by school into single data frame.

In [150]:
# Format each grade column.

In [151]:
# Remove the index.


# Display the data frame

In [152]:
## Remove the index.


# Display the data frame

## Scores by School Spending

In [153]:
# Establish the spending bins and group names.


# Categorize spending based on the bins.

In [154]:
# Calculate averages for the desired columns.

In [155]:
# Create the DataFrame

In [156]:
# Format the DataFrame

## Scores by School Size

In [157]:
# Establish the bins.

# Categorize spending based on the bins.

In [158]:
# Calculate averages for the desired columns.

In [159]:
# Assemble into DataFrame.

In [160]:
# Format the DataFrame

## Scores by School Type

In [161]:
# Calculate averages for the desired columns.

In [162]:
# Assemble into DataFrame.

In [163]:
# # Format the DataFrame